@import url(reset.css);
@import url(query.css);
table {
  display: block;
  margin: auto;
  padding: 1rem 2rem;
  border: 1px solid rgb(169, 142, 218);
  border-collapse: collapse;
  font-size: 1.25rem;
  text-align: center;
  border-radius: 1rem;
}

caption {
  position: relative;
  padding: 1rem 0;
}

.pass-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 8rem;
}

.title {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
  font-size: 1.52rem;
}

td,
th {
  padding: 1rem;
}

th {
  font-size: 1.5rem;
}

tbody tr:nth-child(2n-1) {
  background-color: #e2d9f3;
  border-top: 1px solid #a98eda;
  border-bottom: 1px solid #a98eda;
}

tfoot {
  font-size: 1.55rem;
  font-weight: 700;
}

.score {
  color: #228b22;
}

.overall-rank{
  font-size: 3rem;
}

.not-pass {
  color: #dc3545;
}



